.PopUpOFF_notification {
	position: fixed;
	z-index: 10000000000000000000000000000000000;

	top: 5px;
	right: 5px;
	padding: 14px 20px;

	background-color: #222831;
	opacity: 0;

	border: 2px solid #f9ffee;
	border-radius: 5px;

	color: #efbb35;
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	line-height: 1.59;
	font-weight: 300;

	-webkit-animation: popupoff-appear 3s ease 0.3s;
	-o-animation: popupoff-appear 3s ease 0.3s;
	animation: popupoff-appear 3s ease 0.3s;
}

@keyframes popupoff-appear {
	0%,
	100% {
		opacity: 0;
	}
	30%,
	80% {
		opacity: 1;
	}
}
