html {
	--white-col: #f9ffee;
	--white-col2: #ffffff;
	--dark-col: #222831;
	--yellow-col: #efbb35;
	--green-col: #6bb756;
	background-color: var(--dark-col);
}

*::selection {
	color: brown;
}

body {
	background-color: var(--dark-col);
	width: 280px;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	line-height: 1.59;
	font-weight: 300;
}

/* // arrow icon // */

.icon {
	position: absolute;
	opacity: 0;

	top: 50%;
	left: 20%;
	transform: translate(300%, -50%);
	width: 30px;
	height: 30px;

	transition: all ease 0.5s;
}

.desc-active .icon {
	transform: translate(-50%, -50%);
	opacity: 1;
	animation: arrow 0.8s ease-out;
}

@keyframes arrow {
	0%,
	50% {
		transform: translate(-300%, -50%);
	}
	90% {
		transform: translate(-20%, -50%);
	}
	94% {
		transform: translate(-60%, -50%);
	}
	98% {
		transform: translate(-40%, -50%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

.arrow {
	position: absolute;

	top: 15px;
	width: 90%;
	height: 2px;

	background-color: var(--arr-col);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.arrow::after,
.arrow::before {
	content: "";
	position: absolute;

	width: 60%;
	height: 2px;
	right: -4px;

	background-color: var(--arr-col);
}

.arrow::after {
	top: -5px;
	transform: rotate(45deg);
}

.arrow::before {
	top: 5px;
	transform: rotate(-45deg);
}

/* // arrow icon end // */

.desc {
	position: relative;
	display: block;

	margin: 5px;
	padding: 22px 0 22px 20px;

	font-size: 20px;
	color: #f9ffeecc;
	text-decoration: none;
	font-weight: normal;
	text-align: center;

	cursor: pointer;

	border: 2px solid var(--yellow-col);
	transition: all ease 0.1s;

	--arr-col: var(--yellow-col);
}

.desc:not(.desc-active):hover {
	color: var(--white-col);
	background-color: rgba(249, 255, 238, .05);
}

.desc-active {
	color: var(--white-col);
	border-color: var(--green-col);
	cursor: default;

	--arr-col: var(--green-col);
}

.desc__mark {
	display: inline-block;
	position: relative;

	width: 20px;
	height: 20px;
	margin-left: 4px;
	padding: 1px;

	border-radius: 50%;
	border: 1px solid var(--yellow-col);

	text-decoration: none;
	color: #f9ffeecc;
	line-height: 0.9;
	text-align: center;

	transition: color ease 0.1s;
}

.add_opt {
	display: block;

	margin: 0;
	padding: 0 0 0 40px;

	font-weight: normal;
	font-size: 20px;
	text-decoration: none;
}

.desc__mark-text {
	width: auto;
	height: auto;
	border: none;
	margin: 0;
	padding: 0;

	color: var(--dark-col);
}

.col {
	color: var(--yellow-col);
}

.stats_cont {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 44px;
	margin-bottom: 5px;

	background-color: var(--white-col2);
}

.icons_cont__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.icons_cont__btn path {
	transition: fill .2s;
}

.icons_cont__btn:hover path {
	fill: var(--yellow-col);
}

.icons_cont {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* // tooltip // */

.tooltip {
	position: absolute;
	pointer-events: none;

	right: -6px;
	top: -310%;
	width: 160px;
	padding: 5px 10px;

	border: 1px solid var(--white-col);
	border-radius: 6px;

	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.59;

	background-color: var(--dark-col);
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.tooltip-three {
	top: -430%;
}

.tooltip-top {
	z-index: 10;

	top: 33px;
	left: 3px;
	width: 230px;
	padding: 5px;
}

.tooltip-right {
	left: auto;
	right: 0;
	width: 105px;
}

.tooltip::after {
	content: "";
	position: absolute;

	top: 100%;
	right: 10px;

	border-width: 5px;
	border-style: solid;
	border-color: var(--white-col) transparent transparent transparent;
}

.tooltip-top::after {
	top: auto;
	bottom: 100%;
	right: auto;
	left: 30px;

	border-color: transparent transparent var(--dark-col) transparent;
}

.tooltip-right::after {
	left: auto;
	right: 30px;
}

.desc__mark:hover .tooltip {
	opacity: 1;

	animation: popping 0.4s ease-out;
}

.add_opt:hover .tooltip-top,
.stats:hover .tooltip-right {
	opacity: 1;

	animation: poppingDel 2s ease-out;
}

.desc__mark-top {
	color: var(--dark-col);
}

@keyframes popping {
	0%,
	50% {
		transform: translateY(-10px);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}

@keyframes poppingDel {
	0%,
	85% {
		transform: translateY(-10px);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}

/* // tooltip end // */

/* // bottom link // */

.link {
	padding: 0;

	background-color: var(--white-col2);

	text-align: center;
	justify-content: center;
}

.insturctions {
	display: block;
	padding: 6px 0;
	width: 100%;

	color: var(--dark-col);
	font-weight: normal;
	font-size: 16px;

	transition: all ease 0.4s;
}

.insturctions:hover {
	color: var(--green-col);
}

.PopUpOFF {
	position: relative;
}

/* // cross // */

.cross {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.cross__item {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotateZ(45deg);

	transition: all ease 0.3s;

	background-color: var(--yellow-col);
}

.cross__two {
	transform: translateY(-50%) rotateZ(-45deg);
}

.add_opt-active .cross__item {
	background-color: var(--green-col);
}

.add_opt-active .cross__one {
	width: 50%;
	top: 60%;
}

.add_opt-active .cross__two {
	width: 75%;
	left: 9px;
}

.add_opt-activate .cross__item {
	width: 100%;
	left: 0;
	top: 50%;
	transform: translate(0, 0) rotateZ(90deg);
}

.add_opt:hover .cross {
	animation: crossMove 0.6s ease-out;
}

@keyframes crossMove {
	0%,
	100% {
		transform: translateY(-50%);
	}
	50% {
		transform: translateY(-50%) scale(0.7, 0.7) rotateZ(10deg);
	}
	95% {
		transform: translateY(-50%) scale(1.1, 1.1);
	}
}

/* // cross end // */

/* // popup // */

.popup {
	position: fixed;
	display: none;

	bottom: 11px;
	left: 20px;
	right: 20px;
	padding: 10px 0;

	background-color: var(--dark-col);
	border: 2px solid var(--yellow-col);
	transition: all ease 0.3s;
	animation: popping 1s ease;

	text-align: center;
	text-decoration: none;
	font-size: 22px;
	color: var(--white-col);

	will-change: auto;
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	--arr-col: var(--yellow-col);
}

.popup:hover {
	transform: translateZ(0) perspective(1px) scale(1.04, 1.04);
}

.popup-show {
	display: block;
}

.popup-fade {
	display: block;

	animation: popupFade 0.2s ease 0.8s;
}

.popup-underline {
	text-decoration: underline;
}

.hidden {
	display: none;
}

@keyframes popupFade {
	0% {
		transform: none;
		opacity: 1;
	}
	100% {
		transform: translateY(10px);
		opacity: 0;
	}
}

.tutorial-col {
	color: var(--yellow-col);
}
