html{
  height: 550px;

  display: flex;

  align-items: center;

  --slider-width: 200px;
}

body{
  width: 1000px;
  padding-bottom: 50px;
}

.options_text{
  color: #f9ffee;
  font-size: 16px;
}

.options__header{
  text-align: center;

  color: #efbb35;
  font-size: 18px;
  font-weight: 300;
}

.options__desc{
  padding: 0 22px;
}

.options_text-col{
  color: #efbb35;
}

.string{
  margin-top: 18px;
}

.string:nth-last-child(2){
  margin-bottom: 29px;
}

.slider{
  position: relative;

  text-align: center;
}

.slider__text{
  position: absolute;

  transition: all ease .5s;
}

.slider__text-active{
  color: #efbb35;
}

.slider__input{
  width: var(--slider-width);

  background-color: #efbb35;
  height: 10px;
  margin-top: 8px;
  border-radius: 5px;

  outline: 0;
  -webkit-appearance: none;

  transition: all ease .5s;
}

.slider__input-active{
  background-color: #6bb756;
}

.slider__input::-webkit-slider-thumb{
  width: 34px;
  height: 34px;

  border: 6px solid #efbb35;
  border-radius: 50%;

  background: #222831;

  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  transition: all ease .5s;
}

.slider__input-active::-webkit-slider-thumb{
  border-color: #6bb756;
}

.slider__left{
  left: calc(50% - var(--slider-width)/2 - 10px);
  transform: translateX(-100%);
}

.slider__right{
  left: calc(50% + var(--slider-width)/2 + 10px);
}

.slider__center{
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}