html {
	padding: 20px 0;

	display: flex;

	align-items: center;

	--slider-width: 200px;
	--white-col: #f9ffee;
	--dark-col: #222831;
	--yellow-col: #efbb35;
	--green-col: #6bb756;
	background-color: var(--dark-col);
}

body {
	width: 700px;
	margin: 0 auto;
	padding-bottom: 50px;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	line-height: 1.59;
	font-weight: 300;
}

.options_text {
	color: var(--white-col);
	font-size: 18px;
}

.options__link {
	color: var(--white-col);
	transition: all ease 0.3s;
}

.options__link:hover {
	color: var(--yellow-col);
}

.options__header {
	text-align: center;

	color: var(--yellow-col);
	font-size: 22px;
	font-weight: normal;
}

.options__title {
	padding: 40px 20px 0;
	margin-bottom: -10px;

	font-weight: normal;
	font-size: 20px;
}

.options__header-big {
	font-size: 36px;
	font-weight: normal;
}

.options__section {
	padding-bottom: 40px;
}

.options__set {
	color: var(--white-col);
	margin: 0 22px;
	font-size: 18px;
	accent-color: var(--yellow-col);
}

label {
	transition: color .2s;
	cursor: pointer;
}

label:hover {
	color: var(--yellow-col);
}

input:checked + label {
	color: var(--yellow-col);
}

.hidden {
	display: none;
}

.options__btn {
	display: block;
	position: relative;
	height: 50px;
	width: 100%;

	text-decoration: none;
	font-size: 18px;
}

.options__label {
	position: absolute;

	left: 40px;
	top: 50%;
	transform: translateY(-50%);

	color: var(--white-col);
	opacity: 0.7;

	transition: all ease 0.3s;
}

.options__btn-active .options__label {
	opacity: 1;
}

.options__desc {
	padding: 0 22px;
}

.options_text-col {
	color: var(--yellow-col);
}

/* //cross// */

.cross {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.cross__item {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotateZ(45deg);

	transition: all ease 0.3s;

	background-color: var(--yellow-col);
}

.cross__two {
	transform: translateY(-50%) rotateZ(-45deg);
}

.options__btn-active .cross__item {
	background-color: var(--green-col);
}

.options__btn-active .cross__one {
	width: 50%;
	top: 60%;
}

.options__btn-active .cross__two {
	width: 75%;
	left: 9px;
}

.options__btn-activate .cross__item {
	width: 100%;
	left: 0;
	top: 50%;
	transform: translate(0, 0) rotateZ(90deg);
}

/* //cross// */

.options__button {
	display: inline-block;

	padding: 4px 20px;
	margin: 10px 20px 0 0;
	border: 2px solid var(--yellow-col);

	font-size: 22px;
	color: var(--yellow-col);
	text-decoration: none;

	transition: all ease 0.15s;
}

.options__button:hover {
	border-color: var(--white-col);
	color: var(--white-col);
}

.popup {
	display: none;
	position: fixed;

	top: 50%;
	left: 50%;
	width: 300px;
	height: 170px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	background-color: var(--white-col);
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.75);

	animation: appear 1s ease;

	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	font-size: 30px;
}

.popup-show {
	display: flex;
}

.popup__pick {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	justify-content: space-around;

	width: 100%;
}


/*// donation //*/

.donation {
	border-radius: 24px;
	padding: 0 24px;
	background: rgba(92, 92, 92, 0.3);
}

.donation img {
	margin: 44px 0 0 16px;
}

.donation__wrap {
	display: flex;
}

.donation__title {
	padding: 16px 22px 0;
	font-size: 22px;
}

.donation__btns {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	margin: 16px -24px 0;
	color: var(--white-col);
	background: rgba(0, 0, 0, .18);
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
}

.donation__btns a {
	width: 50%;
	text-align: center;
	padding: 8px 0;
	color: var(--white-col);
	text-decoration: none;
	transition: all .2s;
}

.donationNo {
	opacity: 0.8;
}

.donationNo:hover {
	opacity: 1;
}

.donationYes {
	font-weight: normal;
}

.donationYes:hover {
	color: var(--yellow-col)
}